
OURFirstAppWithUI.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

OURFirstAppWithUI.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

OURFirstAppWithUI.xcodeproj/project.xcworkspace/xcuserdata/sklyan.xcuserdatad/WorkspaceSettings.xcsettings

OURFirstAppWithUI.xcodeproj/xcuserdata/sklyan.xcuserdatad/xcschemes/xcschememanagement.plist
